@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito", sans-serif;
}

.carousel .control-dots .dot {
  background-color: #1a2d57 !important;
}

.carousel .slider-wrapper.axis-horizontal .slider .slide {
  filter: grayscale(80%);
}
.carousel .slider-wrapper.axis-horizontal .slider .slide.selected {
  filter: none;
}
.swiper-pagination-bullet-active {
  background: #ff0c3d !important;
}

.swiper-horizontal > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
  height: 8px !important;
}

.swiper-scrollbar-drag {
  background-color: #bebebe !important;
}
